:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
/* Body */
.body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  color: var(--color-slate);
}
/* reset star */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  gap: 24px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
/* reset end */

/* Header section */
.header {
  border-bottom: 1px solid var(--color-cornflower);
}
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-cornflower);
}
.menu-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: auto;
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-link {
  display: block;
  padding: 24px 0;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
  margin-right: 76px;
}
.logo-light {
  color: var(--color-cloud);
}
.logo-dark {
  color: var(--color-navy-blue);
}
.list .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
  color: var(--color-navy-blue);
}
.list .link:hover,
.list .link:focus {
  color: var(--color-ocean);
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  font-style: normal;
  margin-right: auto;
  margin-left: 332px;
}
.address .link {
  text-decoration: none;
  font-style: normal;
  list-style: none;
  font-weight: 400;
  color: var(--color-slate);
}
/* Hero section */
.hero-section {
  padding: 188px 0;
}
.hero,
.title-hero {
  background-color: var(--color-navy-blue);
  color: var(--color-white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.title-hero {
  max-width: 496px;
  margin: 0 auto 48px auto;
  text-align: center;
  padding-top: 129px;
  padding-bottom: 113px;
}
.hero-container {
  padding: 188px 0;
}
.hero-button {
  display: block;
  flex-direction: row;
  align-items: center;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-left: 480px;
  margin-right: 480px;
  margin-top: 48px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-iris);
  color: var(--color-white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}

/* Our advantages */
.advantages-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  padding: 120px 0;
  border-radius: 0px 0px 4px 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* What are we doing */
.section-container {
  padding-bottom: 120px;
}

.title-section-item {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}
.section-item {
  width: calc((100% - 72px) / 4);
  gap: 24px;
}
.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
  letter-spacing: 0.02em;
}

/* Our Team  */
.team-container {
  padding: 120px 0;
}
.card-content {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  margin-bottom: 8px;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}

.section-team {
  background-color: var(--color-cloud);
}

.section-list > li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  cursor: pointer;
}
/* Portfolio */
.portfolio-container {
  padding: 96px 0 120px;
  border-bottom: 1px solid var(--color-cornflower);
}

/* Buttons */
.section-list-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 586px;
  min-height: 48px;
  gap: 24px;
  padding-left: 271px;
  padding-right: 271px;
  padding-top: 96px;
  padding-bottom: 72px;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  margin-bottom: 72px;
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--color-cloud);
  color: var(--color-iris);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  font-family: inherit;
  color: var(--color-white);
  background-color: var(--color-ocean);
  font-weight: 500;
  border: 1px solid transparent;
  border: 1px solid transparent;
}
/* Portfolio list */
.portfolio-container {
  padding: 96px 0 120px;
}
.portfolio-list {
  width: calc((100%- (2 * 24)) / 3);
  column-gap: 24px;
  row-gap: 48px;
}
.section-item.text {
  text-align: left;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.text {
  color: var(--color-slate);
  text-align: center;
}
/* Footer */

.footer {
  background-color: var(--color-navy-blue);
  color: var(--color-cloud);
  text-decoration: none;
  padding: 100px 0px;
}
.footer-container a {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-container {
  display: inline-block;
  align-items: center;
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
}
.footer-text {
  color: var(--color-cloud);
  text-decoration: none;
  width: 264px;
}
